.text_size_s {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
}

@media screen and (max-width: 380px) {
  .text_size_s {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
  }
}
