.profile__edit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  padding: 6px;
  box-sizing: border-box;
  grid-area: ico;
  margin-left: 17px;
  cursor: pointer;
  transition: opacity .2s ease-out;
}

.profile__edit-button:hover {
  opacity: 0.6
}


@media screen and (max-width: 380px){
  .profile__edit-button {
    padding: 5px;
    margin-left: 7px;
  }
}
