.input {
  background: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  outline: none;
  padding: 0 0 13px;
  box-sizing: border-box;

  font-family: 'Inter', Arial, Helvetica, sans-serif; /* edited */
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.22;
}
