.input {
  background: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  outline: none;
  padding: 0 0 13px;
  box-sizing: border-box;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.22;
}


@media screen and (max-width: 380px) {
  .input {
    font-size: 12px;
    line-height: 1.25;
  }
}
