.profile__add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  padding: 14px 64px;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity .2s ease-out;
}

.profile__add-button:hover {
  opacity: 0.6;
}
